.table{background: #fff;}
.hiddenRow {padding: 0 !important;}
.boxes {
  display: flex;
  padding: 0;
}

.box {
  line-height: 1.6em;
  font-size: 2em;
  border: 2px solid;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  flex: 1 1 auto;
  width: 100px;
  height: 50px;
  transition: width 0.7s ease-out;
 }

 .unpair {
   width: 150px;
 }

.fix {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 3em;
  vertical-align: middle;
  text-align: center;
}

body{background-color: #eaeaea;}


#core{bacgrkound: #fff;}

#getUser{width:150px;}

#getUserBtn{width:92px;}
#getPairBtn{width:92px; margin-right: 4px;}

#editUser{width:35px;}

#hiddenWrapper{
  font-size: 1.2em;
  padding: 25px;
  background-color: #f2f2f2;
}
#dividerHeader{
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
}
#trainingStatus{
  font-size: 0.9em;
  position:relative;
  top:-4px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
}

#friendInput {
  width: 100px;
}

#submitUser{
  width: 100%;
  line-height: 2em;
}
